* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    max-width: 1900px;
    box-sizing: border-box;
}

main {
    justify-content: center;
    text-align: center;
}

.content {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content p {
    text-align: justify;
    width: 100%;
}

.header-1 {
    display: block;
    max-width: 1900px;
    width: 100%;
    padding: 10px 5%;
    top: 0;
    border-bottom: solid 1px #d1d1d1;
    position: fixed;
    background-color: #ffffff;
}

.rakutenHeaderTopRow {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 1900px;
    width: 100%;
}

.logo img {
    width: 170px;
    height: auto;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .logo img {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 100px;
    }
}

.search-bar {
    display: flex;
    width: 100%;
    height: 48px;
    max-width: 1400px;
    min-width: 150px;
    margin-right: 18px;
    margin-left: 10px;
}

.search-bar input {
    width: 100%;
    padding-left: 15px;
    border-color: #d1d1d1;
    border-width: 1px;
    border-style: solid;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
}

.search-bar button {
    width: 50px;
    height: 100%;
    background-color: #333333;
    cursor: pointer;
    border-style: none;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
}

.banner img {
    width: 200px;
    height: auto;
}

@media (max-width: 768px) {
    .banner img {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .banner img {
        width: 80px;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.menu a img {
    vertical-align: middle;
    margin-right: 6px;
}

.menu a {
    text-decoration: none;
    color: #333333;
}

.footer-1 {
    display: flex;
    bottom: 0;
    position: inherit;
    padding: 10px 5%;
    width: 100%;
}

.footer-content {
    max-width: 1800px;
    border-top: 1px solid #d1d1d1;
}

.rakutenFooterTopRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rakutenFooterTopRow a {
    text-decoration: none;
    font-size: 12px;
    color: #777777;
}

.rakutenFooterTopRow select {
    border-width: 1px;
    border-color: #d1d1d1;
    border-style: solid;
    padding: 11px 22px 11px 10px;
    cursor: pointer;
    border-radius: 4px;
    color: #4a4a4a;
    width: 150px;
    height: 38px;
}

.copyright {
    text-align: center;
    width: 100%;
}

.copyright p {
    padding: 10px;
    font-size: 12px;
    color: #333333;
}

.offersLinks {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.offersLinks ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.offersLinks ul li {
    margin: 0px 12px;
}

.offersLinks ul li a {
    font-size: 12px;
    color: #000000;
    margin: 12px;
}

.timer-block {
    text-align: center;
    margin: 200px 0;
    font-size: 24px;
    font-weight: bold;
}

#scrollTop {
    position: fixed;
    bottom: 200px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scrollTop:hover {
    background-color: #0056b3;
}

/* Next */

.header-2 {
    display: block;
    width: 100%;
    padding: 10px 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.containerNext {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.nextLeftItems {
    display: flex;
    align-items: center;
}

.nextRightItems {
    align-items: center;
    text-align: center;
}

.nextRightItems a {
    font-size: 1vw;
    color: #ffffff;
    text-decoration: none;
}

.nextRightItems a img {
    align-items: center;
    vertical-align: middle;
}

.nextRightItems button {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    background-color: #185426;
    color: #7D7F7E;
    font-weight: 900;
    cursor: pointer;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 400px;
}

.input-container input {
    width: 20vw;
    padding-right: 10px;
    padding-left: 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.input-container button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.input-container button img {
    max-width: 24px;
    max-height: 24px;
}

.nextLinks {
    padding: 10px 10%;
}

.nextLinks ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nextLinks ul li {
    margin: 0 3%;
}

.nextLinks ul li a {
    text-decoration: none;
    font-size: 0.7vw;
    font-weight: 700;
    color: #ffffff;
}

.nextLinks ul li:nth-child(1) a {
    color: #B78B1F;
}

.nextLinks ul li:last-child a {
    color: #ff0000;
}

@media (max-width: 768px) {
    .nextLogoContainer img {
        width: 70px;
    }

    .nextRightItems a img {
        width: 18px;
    }

    .nextRightItems button {
        font-size: 1vw;
        width: 15vw;
    }
    
}

@media (max-width: 480px) {
    .nextLogoContainer img {
        width: 50px;
    }
}

/* Next Footer */

.footer-2 {
    text-align: center;
    padding: 20px 0;
}

.socialNetworkIcon a img {
    margin: 8px;
    gap: 10px;
}

.myAccount {
    display: flex;
    text-align: left;
    padding: 12px 10%;
    align-items: center;
    cursor: pointer;
    background-color: #f7f7f7;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.myAccount img {
    margin-right: 20px;
}

.myAccount a {
    text-decoration: none;
    color: #515151;
    font-size: 12px;
    line-height: 18px;
    width: fit-content;
}

.myAccount a b {
    color: #000000;
    font-size: 14px;
    line-height: 18px;
}

.myAccount a:hover {
    text-decoration: underline;
    color: #000000;
}

.nextFooterLinks {
    display: flex;
    background-color: #f7f7f7;
    padding: 10px 10%;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid #d1d1d1;
}

.nextFooterLinks ul {
    list-style-type: none;
}

.nextFooterLinks a {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

.nextFooterLinks ul li {
    margin-bottom: 15px;
}

.nextFooterLinks p {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
}

.timer {
    font-size: 24px;
    color: #ff5722;
    margin-top: 300px;
}

.hidden {
    display: none;
}
main {
    padding: 20px;
    text-align: center;
}